*{
	padding: 0;
	margin: 0;
}


header img{
	width: 17%;

}

.menu{

	background-image: url(fundocc.jpg);
	width: 100%;
}

.menu{
	position: relative;
	width: 940px;
	border-color: blaCK;
	border-style: double;
	border-width: 30px;
	margin: 0 auto;
}

.banner {

	width: 70.7%;
	padding-left: 200px;
	padding-top: 20px;
	height: 400px;

}

body{
	background-image: url(fundoc.jpg);
}


h1{
	font
}
nav{
	position: absolute;
	top: 80px;
	right: 0px;
}

nav li{
	display: inline;
	margin: 0 0 0 30px;
}
nav a{
	color: #34a9ed; 
	text-shadow: black 0.1em 0.1em 0.2em;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}
nav a:hover {
	color: white;
	text-decoration: underline;
}

.categorias{
	width: 940px ;
	margin: 0 auto;
	padding: 50px;
}



.categorias li {
	color: #34a9ed;
	vertical-align: top bottom;
	padding: 2em;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	border-color: black;
	border-style: groove;
	border-width: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.categorias li:hover {
	border-color: white;
	text-shadow: white 0.1em 0.1em 0.2em;
}
.categorias li:active {
	border-color: #bd1919;

}
.categorias li:hover h2{
	font-size: 32px;
}
.categorias li img{
	height: 220px;

}

.categorias{
	width: 940px ;
	margin: 0 auto;
	padding: 50px;
}



.paragrafo li {
	color: #34a9ed;
	vertical-align: top bottom;
	padding: 2em;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	border-color: black;
	border-style: groove;
	border-width: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.paragrafo li:hover {
	border-color: white;
	text-shadow: white 0.1em 0.1em 0.2em;
}
.paragrafo li:active {
	border-color: #bd1919;

}
.paragrafo li:hover h2{
	font-size: 32px;
}

.paragrafo {
	width: 940px ;
	margin: 0 auto;
	padding: 50px;
}

}
footer img{
	width: 40%;
}
footer{
	text-align: center;
	background: black;
	color: white ;
	padding-bottom: 20px;
} 

footer h3{

	padding-top: 20px;
}